<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webdav挂载</title>
    <script src="../smart-ui/boot/utils.js?from=element"></script>
</head>
<body>
<div id="app">
    <el-form :model="editData" label-width="120px" style="margin-top:20px;">
        <el-form-item label="地址">
            <el-input v-model="editData.urlpath" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="账号">
            <el-input v-model="editData.username" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="密码">
            <el-input v-model="editData.password" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="预览限制(KB)">
            <el-input v-model="editData.limitThumbnail" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="login()">登录</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script>
    Vue.app({
        data(){
            return {
                editData:{
                    urlpath:"",
                    username:"",
                    password:""
                }
            }
        },
        methods:{
            login:function (){
                const that = this;
                for (let key in that.editData){
                    if(!that.editData[key]){
                        parent.webos.message.error("参数填写不完整");
                        return;
                    }
                    if(key == "urlpath" && !that.editData[key].startsWith("http")){
                        parent.webos.message.error("地址必须以http开头");
                        return;
                    }
                }
                while(true){
                    if(that.editData.urlpath.endsWith("/")){
                        that.editData.urlpath = that.editData.urlpath.substring(0,that.editData.urlpath.length - 1);
                    }else{
                        break;
                    }
                }
                parent.postMessage({type:"cookie",data:JSON.stringify(that.editData)},"*");
            },
        },
        mounted:function(){
        }
    });
</script>
</html>